# Objective : Working on TimeSeries Data
<hr>

1. Overview
2. Timestamps vs. Time Spans
3. Converting to timestamps
4. Generating ranges of timestamps
5. Timestamp limitations
6. Indexing
7. Time/date components
8. DateOffset objects
9. Time Series-Related Instance Methods
10. Resampling
11. Time span representation
12. Converting between representations
13. Representing out-of-bounds spans
14. Time zone handling

<hr>

### 1. Overview
* Pandas contains extensive capabilities and features for working with time series data for all domains.
* Using the NumPy datetime64 and timedelta64 dtypes, pandas has consolidated a large number of features from other Python libraries like scikits.timeseries as well as created a tremendous amount of new functionality for manipulating time series data.
* pandas captures 4 general time related concepts:

  - Date times: A specific date and time with timezone support. Similar to datetime.datetime from the standard library.
  - Time deltas: An absolute time duration. Similar to datetime.timedelta from the standard library.
  - Time spans: A span of time defined by a point in time and its associated frequency.
  - Date offsets: A relative time duration that respects calendar arithmetic. Similar to dateutil.relativedelta.relativedelta from the dateutil package.

In [1]:
import pandas as pd

In [2]:
date = pd.to_datetime("4th of July, 2015")

In [3]:
date

Timestamp('2015-07-04 00:00:00')

In [4]:
date.strftime('%A')

'Saturday'

In [5]:
pd.Series(range(3), index=pd.date_range('2000', freq='D', periods=3))

2000-01-01    0
2000-01-02    1
2000-01-03    2
Freq: D, dtype: int64

In [6]:
pd.Series(pd.period_range('1/1/2011', freq='M', periods=3))

0    2011-01
1    2011-02
2    2011-03
dtype: period[M]