In [1]:
import pandas as pd

In [18]:
data = pd.read_csv('data/imdb-reviews/dataset.csv', encoding='latin-1')

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 2 columns):
SentimentText    25000 non-null object
Sentiment        25000 non-null int64
dtypes: int64(1), object(1)
memory usage: 390.7+ KB

In [20]:
data.head()

                                       SentimentText  Sentiment
0  first think another Disney movie, might good, ...          1
1  Put aside Dr. House repeat missed, Desperate H...          0
2  big fan Stephen King's work, film made even gr...          1
3  watched horrid thing TV. Needless say one movi...          0
4  truly enjoyed film. acting terrific plot. Jeff...          1