In [1]:
import pandas as pd

In [3]:
tennis_data = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/tennis.csv.txt')

In [5]:
tennis_data

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [6]:
horror_data = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/horror-train.csv')

In [7]:
horror_data.head()

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL

### Add a coulmn representing number of words

In [12]:
horror_data['numWords'] = horror_data.text.str.split()

In [15]:
horror_data['numWords'] = horror_data['numWords'].str.len()

In [17]:
horror_data.sample(10)

,id,text,author,numWords
868,id01351,"""Abhorred monster Fiend that thou art The tort...",MWS,18
2178,id14563,A very thin sprinkling of repellent looking yo...,HPL,24
14354,id06084,I saw that the crescent was designed to cross ...,EAP,14
11302,id17206,Each transmitted idea formed rapidly in my min...,HPL,36
10738,id06683,South of the village one may still spy the cel...,HPL,45
9695,id19880,In Washington Street there was a row of four o...,HPL,21
15741,id03859,I quaintly termed the domination of the Baron ...,EAP,21
13630,id05319,There were the same luxurious smoothness of su...,EAP,25
10547,id06675,"One sheet of white covered it, while bitter re...",MWS,24
9253,id27434,"When there is no angle in other words, when th...",EAP,44

In [18]:
horror_data.drop(columns=['id'],inplace=True)

In [19]:
horror_data.sample(10)

                                                    text author  numWords
12954  The policy of insurance for my dwelling house ...    EAP        41
18936  Think you that the groans of Clerval were musi...    MWS        12
8818   Their benevolent disposition often made them e...    MWS        12
10139  By Heaven the first tears I have shed since bo...    MWS        19
9904   "Common affection might have been satisfied wi...    MWS         9
12526  Adrian suddenly vanished; and, by the time tha...    MWS        27
18488  But such naive reports could mean very little,...    HPL        24
12497  At this juncture the shutter began to rattle i...    HPL        27
5267   But assuredly if we had been brothers we must ...    EAP        47
114    Yet all these appearances have been given I be...    EAP        25

In [20]:
from sklearn.pipeline import make_pipeline

In [30]:
from sklearn.preprocessing import MinMaxScaler

In [26]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

In [47]:

pipeline_text = make_pipeline(
    CountVectorizer(stop_words='english')
)

In [81]:
pipeline_text

Pipeline(memory=None,
         steps=[('countvectorizer',
                 CountVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words='english', strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None))],
         verbose=False)

In [48]:
pipeline_number = make_pipeline(
    MinMaxScaler()
)

In [49]:
pipeline_number.fit_transform(horror_data[['numWords']])

array([[0.04540163],
       [0.01396973],
       [0.03958091],
       ...,
       [0.01280559],
       [0.01513388],
       [0.02328289]])

In [50]:
from sklearn.compose import make_column_transformer,ColumnTransformer

In [89]:
num_cols = ['numWords']
text_cols = 'text'

preprocessor = ColumnTransformer(
    transformers=[
        ('text_proc', pipeline_text, text_cols),
        ('num_proc', pipeline_number, num_cols)])

In [90]:
from sklearn.naive_bayes import MultinomialNB
pipeline = make_pipeline(preprocessor,MultinomialNB())

In [91]:
pipeline.fit(horror_data,horror_data.author)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('text_proc',
                                                  Pipeline(memory=None,
                                                           steps=[('countvectorizer',
                                                                   CountVectorizer(analyzer='word',
                                                                                   binary=False,
                                                                                   decode_error='strict',
                                                                                   dtype=<class 'numpy.int64'>,
                                                                                   encoding='utf-8',
                                                                                   input='content',
                                                                                   lowerca...
                                                                                   stop_words='english',
                                                                                   strip_accents=None,
                                                                                   token_pattern='(?u)\\b\\w\\w+\\b',
                                                                                   tokenizer=None,
                                                                                   vocabulary=None))],
                                                           verbose=False),
                                                  'text'),
                                                 ('num_proc',
                                                  Pipeline(memory=None,
                                                           steps=[('minmaxscaler',
                                                                   MinMaxScaler(copy=True,
                                                                                feature_range=(0,
                                                                                               1)))],
                                                           verbose=False),
                                                  ['numWords'])],
                                   verbose=False)),
                ('multinomialnb',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [92]:
pipeline.predict(horror_data[:2])

array(['EAP', 'EAP'], dtype='<U3')

In [71]:
import sklearn

In [72]:
sklearn.__version__

'0.21.2'

In [88]:
pipeline.steps[0]

('columntransformer',
 ColumnTransformer(n_jobs=None, remainder='drop', sparse_threshold=0.3,
                   transformer_weights=None,
                   transformers=[('num_proc',
                                  Pipeline(memory=None,
                                           steps=[('minmaxscaler',
                                                   MinMaxScaler(copy=True,
                                                                feature_range=(0,
                                                                               1)))],
                                           verbose=False),
                                  ['numWords'])],
                   verbose=False))

In [104]:
pipeline.steps[0][1].transformers[0]

('text_proc', Pipeline(memory=None,
          steps=[('countvectorizer',
                  CountVectorizer(analyzer='word', binary=False,
                                  decode_error='strict',
                                  dtype=<class 'numpy.int64'>, encoding='utf-8',
                                  input='content', lowercase=True, max_df=1.0,
                                  max_features=None, min_df=1,
                                  ngram_range=(1, 1), preprocessor=None,
                                  stop_words='english', strip_accents=None,
                                  token_pattern='(?u)\\b\\w\\w+\\b',
                                  tokenizer=None, vocabulary=None))],
          verbose=False), 'text')

In [105]:
params = {'columntransformer__text_proc__countvectorizer__ngram_range':[[1,1],[1,2]],}

In [106]:
from sklearn.model_selection import GridSearchCV

In [107]:
gs = GridSearchCV(pipeline, param_grid=params, cv=5, n_jobs=-1)

In [108]:
gs.fit(horror_data, horror_data.author)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=Pipeline(memory=None,
                                steps=[('columntransformer',
                                        ColumnTransformer(n_jobs=None,
                                                          remainder='drop',
                                                          sparse_threshold=0.3,
                                                          transformer_weights=None,
                                                          transformers=[('text_proc',
                                                                         Pipeline(memory=None,
                                                                                  steps=[('countvectorizer',
                                                                                          CountVectorizer(analyzer='word',
                                                                                                          binary=False,
                                                                                                          decode_error='strict',
                                                                                                          dtype=<...
                                                                                                       feature_range=(0,
                                                                                                                      1)))],
                                                                                  verbose=False),
                                                                         ['numWords'])],
                                                          verbose=False)),
                                       ('multinomialnb',
                                        MultinomialNB(alpha=1.0,
                                                      class_prior=None,
                                                      fit_prior=True))],
                                verbose=False),
             iid='warn', n_jobs=-1,
             param_grid={'columntransformer__text_proc__countvectorizer__ngram_range': [[1,
                                                                                         1],
                                                                                        [1,
                                                                                         2]]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [109]:
gs.best_params_

{'columntransformer__text_proc__countvectorizer__ngram_range': [1, 2]}

In [110]:
gs.best_score_

0.8336482966443639

### Predict Survived Column

In [113]:
data = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/titanic-train.csv.txt', index_col='PassengerId')

### Hints
1. Imputer for Missing Values
2. Pipelines for similar data
3. Column Transformer
4. Grid Search